doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    ul
      li 
        a(href='/connect') /connect
      li
        a(href='/disconnect') /disconnect
      li
        a(href='/roll/100/0') /roll/speed/direction
    
